version: '3.9'

services:
  mysql:
    env_file:
      - .env
    image: mysql:8.0
    container_name: mysql_data_Expense_Tracker
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./app/database/_init_db.sql:/docker-entrypoint-initdb.d/_init_db.sql:ro
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: America/Sao_Paulo
volumes:
  mysql_data: